body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  margin: 5px;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #444;
}

h3 {
  color: #555;
  margin: 5px auto;
}

#small_text {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-top: 5px;
}

div {
  margin: 5px auto;
  padding: 5px;
  max-width: 600px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin: 20px auto;
}

select, textarea, button {
  width: calc(100% - 20px);
  margin: 5px auto;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

select:focus, textarea:focus, button:focus {
  border-color: #007BFF;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003f88;
}
